section label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
}
section ul{
	line-height: 1.5;
	list-style-type: none;
}
section div {
	border: 1px solid black;
	border-radius:10px;
}

.expandable {
	visibility: none;
}

#expand_btn{
	display: inline-block;
}
#expand_toggle:checked ~ *.expandable {
	visibility: visible;
}
#left_aside {
	height: 800px;
}
#right_aside {
	height: 800px;
}

	
	